#party_divider{
	font-weight: 700;
	padding: 10px;
	color: #FFFFFF;
}

.footer{
	border-top: 1px solid #eee;
}

.footer a, a{
	color: #1f8dd6;
}

.footer ul{
	list-style: none;
}

.footer ul li{
	display: inline-block;
	padding: 0px 20px;
}

.divider{
	list-style: none;
}

.graph-wrap{
	margin-bottom: 40px;
}

.graph-year{
	font-size: 16px;
	font-weight: 600;
	position: relative;
	top: 35px;
}