{% load staticfiles %}{% load tags %}
<!DOCTYPE html>
<html lang="hr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ desc }}">

    <title>{% block title %}{{ projekt }} - {{ ctx }}{% endblock %}</title>
	
	
		<link rel="stylesheet" type="text/css" href="{% static 'css/pure-min.css' %}">
		<!--[if lte IE 8]>
	        <link rel="stylesheet" href="{% static 'css/1.17.30_ie8.css' %}">
	    <![endif]-->
	    <!--[if gt IE 8]><!-->
	        <link rel="stylesheet" href="{% static 'css/1.17.30_side_menu.css' %}">
	    <!--<![endif]-->

	    {% block sources %}
	    	<!-- Load c3.css -->
			<link href="{% static 'deps/c3/c3.min.css' %}" rel="stylesheet" type="text/css">
			<!-- Load d3.js and c3.js -->
			<script src="{% static 'deps/c3/d3.min.js' %}" charset="utf-8"></script>
			<script src="{% static 'deps/c3/c3.min.js' %}"></script>

			<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
	    {% endblock %}
	    {% block head-script %}

	    {% endblock %}
</head>
	<body>

		{% block main-container %}
			<div id="layout">
			    <!-- Menu toggle -->
			    <a href="#" id="menuLink" class="menu-link">
			        <!-- Hamburger icon -->
			        <span></span>
			    </a>

                {% main_navigation %}

			    <div id="main">
			        <div class="header">
			            <h1>{{ projekt }}</h1>
			            <h2>{{ desc }}</h2>
			        </div>

			        <div class="content">
			            {% block content %}

			            {% endblock %}
			        </div>
			        <div class="footer">
			        	<ul>
			        		<li>
			        			<a href="{% url 'url_glavni:fps_impressum' %}">Impressum</a>
			        		</li>
			        		<li>
			        			<a href="{% url 'url_glavni:database_dump' %}">API</a>
			        		</li>
			        	</ul>
			        	
			        </div>
			    </div>
			</div>
			<div id="scritps">
				<script src="{% static 'deps/ui.js' %}"></script>
				{% block bottom-script%}
				
				{% endblock %}
			</div>
		{% endblock %}

		{% block webstats %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-59986787-1', 'auto');
		  ga('send', 'pageview');

		</script>

		<!-- Start of StatCounter Code for Default Guide -->
		<script type="text/javascript">
		var sc_project=10304560; 
		var sc_invisible=1; 
		var sc_security="6b71b4a6"; 
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
		document.write("<sc"+"ript type='text/javascript' src='" +
		scJsHost+
		"statcounter.com/counter/counter.js'></"+"script>");
		</script>
		<noscript><div class="statcounter"><a title="shopify
		analytics tool" href="http://statcounter.com/shopify/"
		target="_blank"><img class="statcounter"
		src="http://c.statcounter.com/10304560/0/6b71b4a6/1/"
		alt="shopify analytics tool"></a></div></noscript>
		<!-- End of StatCounter Code for Default Guide -->
		{% endblock %}
		
		
	</body>

</html>