{% load staticfiles %}
{% load tags %}


<!DOCTYPE html>
<html lang="hr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ desc }}">

    <title>{{ projekt }} - {{ ctx }}</title>
	
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/pure-min.css' %}">
		<!--[if lte IE 8]>
	        <link rel="stylesheet" href="{% static 'css/1.17.30_ie8.css' %}">
	    <![endif]-->
	    <!--[if gt IE 8]><!-->
	        <link rel="stylesheet" href="{% static 'css/1.17.30_side_menu.css' %}">
	    <!--<![endif]-->

	    {% block sources %}
	    	<!-- Load c3.css -->
			<link href="{% static 'deps/c3/c3.min.css' %}" rel="stylesheet" type="text/css">
			<!-- Load d3.js and c3.js -->
			<script src="{% static 'deps/c3/d3.min.js' %}" charset="utf-8"></script>
			<script src="{% static 'deps/c3/c3.min.js' %}"></script>


			<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
	    {% endblock %}
	    {% block head-script %}

	    {% endblock %}
	</head>
	<body>

		{% block main-container %}
			<div id="layout">
			    <!-- Menu toggle -->
			    <a href="http://purecss.io/layouts/side-menu/#menu" id="menuLink" class="menu-link">
			        <!-- Hamburger icon -->
			        <span></span>
			    </a>

                {% main_navigation %}
			    <!--<div id="menu">-->
			        <!--<div class="pure-menu pure-menu-open">-->
			            <!--<a class="pure-menu-heading" href="{% url 'url_glavni:fps_index' %}">-->
			            	<!--{{ projekt }}-->
			            <!--</a>-->

			            <!--<ul>-->
			            	<!--{% block linkovi %}-->
				                <!--<li class="menu-item-divided {% if ctx == 'Početna' %}pure-menu-selected{% endif %}">-->
				                	<!--<a href="{% url 'url_glavni:fps_index' %}">-->
				                		<!--Početna-->
				                	<!--</a>-->
				                <!--</li>-->
				                <!--<li class="menu-item-divided" id="party_divider">-->
				                	<!--Stranke:-->
				                <!--</li>-->
			                	<!--{% for party in parties_all %}-->
				                	<!--<li class="menu-item-divided">-->
					                	<!--<a href="#">-->
					                		<!--{{ party. }}-->
					                	<!--</a>-->
					                <!--</li>-->
			                	<!--{% endfor %}-->
			                <!--{% endblock %}-->
			            <!--</ul>-->
			        <!--</div>-->
			    <!--</div>-->

			    <div id="main">
			        <div class="header">
			            <h1>{{ projekt }}</h1>
			            <h2>{{ desc }}</h2>
			        </div>

			        <div class="content">
			            {% block content %}

			            {% endblock %}
			        </div>
			        <div class="footer">
			        	<ul>
			        		<li>
			        			<a href="{% url 'url_glavni:fps_impressum' %}">Impressum</a>
			        		</li>
			        	</ul>
			        	
			        </div>
			    </div>
			</div>
			<div id="scritps">
				{% block bottom-script%}
				
				{% endblock %}
			</div>
		{% endblock %}
		

	</body>

</html>