{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

	<h1 class="content-subhead">Impressum</h2>

	<p>
		<ul>
			<li> Developed by: 
				<b>
					Styria Digital&copy; 2015
				</b>
				<ul>
					<li>Dev Team:</li>
					<li>
						<b>Ines Jelovac</b> (<a href="https://github.com/ines1537">ines1537</a><i>@github</i>)
					</li>
					<li>
						<b>Dino Luketić</b> (<a href="https://github.com/dLook">dLook</a><i>@github</i>)
					</li>
					<li>
						<b>Nikola Tucković</b> (<a href="https://github.com/ntuckovic">ntuckovic</a><i>@github</i>)
					</li>
					<li class="divider">
						<br>
					</li>
					<li>Deployment:</li>
					<li>
						<b>Stjepan Zlodi</b> (<a href="https://github.com/Ylodi">Ylodi</a><i>@github</i>)
					</li>
				<ul>
			</li>
		</ul>

	<p>

{% endblock %}