{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
	<h2 class="content-subhead">Ukupan omjer sredstava</h2>
    <p>
        <div id="graph-container">
        	ovdje bi trebao biti graf, js uključen?
        </div>
        <br>
        <br>
        {% for k, v in parties.iteritems %}
        	<br>
        	{{ k }}, {{ v|safe }}
        {% endfor %}
    </p>
{% endblock %}


{% block bottom-script %}
    <script>
        var party_columns = [
        	["x", {% for party in parties %}"{{ party.short_name }}",{% endfor %}],
            ['data1', {% for party in parties %}{{ party.total }}, {% endfor %}],
        ];
    </script>
	<script src="{% static 'js/glavni-graf.js' %}"></script>
{% endblock %}