{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
	<h2 class="content-subhead">{{ party.name }} ( {{ party.short_name }} )</h2>
    <p>

        {% for pie in pies %}
            <div class="graph-wrap">
                <div class="graph-year">
                    Godina: {{pie.0}}. <br>
                </div>
                <div id="graph-container-{{pie.0}}">
                    ovdje bi trebao biti graf, js uključen?
                </div>
            </div>
        {% endfor %}
        {#% for value in total %#}
            {#{ value.1.amount__sum }#}
        {#% endfor %#}

    </p>
{% endblock %}


{% block bottom-script %}
    <script>
        {% for pie in pies %}
            var data_{{pie.0}} = [
                {% for amount in pie.1 %}
                    ['{{ amount.income.name }}', {{ amount.amount }}],
                {% endfor %}
            ]
        {% endfor %}
    </script>
	<script src="{% static 'js/stranka-graf.js' %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        {% for pie in pies %}
            pieGraph(data_{{pie.0}}, "#graph-container-{{pie.0}}");
        {% endfor %}
    });
    </script>
{% endblock %}